/* Footer.module.css */
.footerWrapper {
       background-color:#1146f7;
       color: white;
       padding: 20px;
       text-align: center;
       border-top: 2px solid #f0a500;
     }
     
     .footerText {
       font-size: 1rem;
       margin-bottom: 10px;
     }
     
     .footerLinks {
       list-style-type: none;
       padding: 0;
     }
     
     .footerLinks li {
       display: inline;
       margin: 0 15px;
     }
     
     .footerLinks li a {
       color: white;
       text-decoration: none;
       font-size: 1rem;
       transition: color 0.3s;
     }
     
     .footerLinks li a:hover {
       color: #f0a500;
     }
     